*{
    margin: 0px;
    padding: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
@media only screen and (max-width: 700px) {
    * {
        max-width: 100%;
    }
}

/* --------------Styles that are used a lot in the website-------------- */

.font-montserrat{
    font-family: Montserrat;
}
.align-left-text {
    text-align: left;
}
.p-10-30-10-30 {
    padding: 10px 50px 10px 50px;
}
.font-lora {
    font-family: Lora;
}
.font-500{
    font-weight: 500;
}
.text-B7926A-color{
    color: #B7926A;
}
.pointer{
    cursor: pointer;
}
.flex{
    display: flex;
}
.flex-row {
    flex-direction: row;
}
.flex-col {
    flex-direction: column;
}
.center{
    justify-content: center;
    align-items: center;
}
.pointer{
    cursor: pointer;
}
.w-full {
    width: 100%;
}
.flex-betwwen {
    justify-content: space-between;
}
.hide{
    display: none;
}
.h-full{
    height: 100%;
}
@media only screen and (min-width: 1921px) {
    .p-10-30-10-30{
        padding: 10px 50px 10px 50px;
    }
}
/* --------------Header-------------- */
header {
    padding: 15px 20px 10px 20px;
}
nav{
    background: #D3D8DCED;
    max-height: 89px;
    padding: 20px 47px 20px 47px;
    align-items: center;
    border-radius: 20px;
}
nav h1 {
    font-family: Cormorant;
    font-size: 18px;
    font-weight: 400;
}

.links {
    gap: 25px;
}
nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: #222529;
}
.search {
    width: 360px;
    border-radius: 20.5px;
    padding-left: 5px;
    background: #FFFFFF;
}
.search input {
    border: none;
    width: 80%;
    height: 41px;
    border-radius: 20.5px;
}
.search input:focus {
    outline: none;
}

.nav-icons {
    gap: 20px;
}
#cart-counter{
    font-size: 10px;
    position: relative;
    padding: 2px 5px 2px 5px;
    background: #B7926A;
    border-radius: 100%;
    align-self: flex-start;
}
@media only screen and (max-width: 1100px) {
    nav h1 {
        font-size: 14px;
    }
    nav a {
        font-size: 14px;
    }
}
@media only screen and (max-width: 931px) {
    header {
        padding:0px;
        overflow: hidden;
    }
    nav h1 {
        font-size: 10px;
    }
    nav a {
        font-size: 10px;
    }
}
@media only screen and (max-width: 700px) {
    header {
        padding: 0px;
    }
    nav {
        border-radius: 0px;
        padding: 20px 15px 20px 15px;
    }
    nav div {
        gap: 20px;
    }
    nav h1 {
        font-size: 24px;
    }
}

/* --------------Section 1-------------- */
.section-1{
    max-width: 100%;
    position: relative;
    img {
        object-fit: cover;
    }
}
.text-on-image {
    padding-left: 100px;
    position: absolute;
    top: 60%;
    gap: 10px;
    transform: translateY(-50%);
    flex-wrap: wrap;
    h1{
        color: #FFFFFF;
        font-family: Lora;
        font-size: 96px;
        font-weight: 500;
        line-height: 122.88px;
        text-align: left;

    }
    h5{
        color: #FFFFFF;
        max-width: 793px;
        font-family: Montserrat;
        font-size: 26px;
        font-weight: 400;
        line-height: 31.69px;
        text-align: left;
    }
    button {
        padding: 15px 40px 15px 40px;
        aspect-ratio: 362/54;
        max-width: 40%;
    }
    .shop {
        color: #FFFFFF;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;
        aspect-ratio: 128/29;
    }
    .join {
        color: #1C1C1C;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;
        aspect-ratio: 128/29;
    }
}
/* @media only screen and (min-width: 1921px) {
    .text-on-image {
        padding-left: 70px;
    }
} */
@media only screen and (max-width: 1400px) {
    .text-on-image {
        top: 50%;
        .shop {
            line-height: unset;
            aspect-ratio: unset;
        }
        .join {
            line-height: unset;
            aspect-ratio: unset;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .section-1 img {
        height :342px !important;
    }
    .section-1 .text-on-image {
        top: 60%;
        padding-left: 20px;
        h1 {
            font-family: Lora;
            font-size: 32px;
            font-weight: 500;
            line-height: 40.96px;
            color: #FFFFFF;
        }
        h5{
            font-size: 12px;
            font-weight: 400;
            line-height: 14.63px;
            color: #FFFFFF;
            max-width: 300px;
        }
        button {
            max-width: 50%;
            padding: 10px 20px 10px 20px;
            font-size: 12px;
            font-weight: 400;
            line-height: unset;

        }
    }
}
@media only screen and (max-width: 425px) {
    .section-1 .text-on-image {
        h1 {
            font-family: Lora;
            font-size: 30px;
            font-weight: 500;
            line-height: unset;
            color: #FFFFFF;
        }
        h5{
            font-size: 10px;
            font-weight: 400;
            line-height: unset;
            color: #FFFFFF;
            max-width: 300px;
        }
        button {
            max-width: 40%;
            padding: 10px 20px 10px 20px;
            font-size: 10px;
            font-weight: 400;
            line-height: unset;

        }
    }
}


/* --------------Section 2-------------- */
.section-2 {
    max-width: 100%;
    padding: 20px 50px 20px 50px;
    /* margin: 10px; */
    align-items: center;

}
.snipet{
    max-width: 380px;
    gap: 20px;
    h2 {
        font-family: Lora;
        font-size: 40px;
        font-weight: 400;
        line-height: 51.2px;
        text-align: left;
        color: #000000;

    }
    h4{
        color: #858080;
        font-family: Montserrat;
        font-size: 22px;
        font-weight: 400;
        line-height: 26.82px;
        text-align: left;
        
    }
    button {
        padding: 15px 40px 15px 40px;
        max-width: 362px;
        /* width: 50%; */
        aspect-ratio: 328/75;
        background-color: transparent;
        border: 1px solid #B7926A;
        border-radius: 2px 0px 0px 0px;
        color: #202020;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        line-height: 29.26px;
        text-align: center;
    }
}
.section-2 .snipet {
    align-self: flex-start;
    max-width: unset;
    h2 {
        text-shadow: 0px 3px 3px rgba(0,0,0,0.5);
    }
    h4{
        text-shadow: 0px 5px 5px rgba(0,0,0,0.3);
    }
}
.glide {
    width: 80%;
}
.flex-slide {
    gap: 0px;
    height: auto;
    overflow-x: hidden;
}
@media only screen and (min-width: 2000px) {
    .carusel-img {
        width: 750px;
        aspect-ratio: 543 / 506;
    }
}
@media only screen and (max-width: 1421px) {
    .section-2 {
        gap: 5px;
    }
    .snipet {
        h2 {
            font-size: 20px;
        }
        h4 {
            font-size: 12px;
        }
        button {
            padding: 10px auto 10px auto;
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 1250px) {
    .carusel-img {
        width: 300px;
        aspect-ratio: 300 / 295;
    }
}
@media only screen and (max-width: 1040px) {
    .snipet button {
        padding: 15px 13px 15px 13px;
    }
}
@media only screen and (max-width: 931px) {
    .glide {
        max-width: 70%;
    }
    .section-2 {
        gap: 5px;
    }
    .carusel-img {
        width: 200px;
        aspect-ratio: 300 / 295;
    }
}
@media only screen and (max-width: 700px) {
    .section-2{
        padding: 0px;
        margin: 0px;
        gap: 0px;
    }
    .section-2 div,img {
        border: none;
    }
    .section-2 .snipet {
        h2 {
            text-shadow: unset;
        }
        h4{
            text-shadow: unset;
        }
    }
    .snipet {
        margin: 40px 10px 40px 10px;
        h2 {
            font-size: 40px;
            font-weight: 500;
            line-height: 30.72px;
        }
        h4{
            color: #858080;
            font-size: 22px;
            font-weight: 400;
            /* line-height: 14.63px; */
        }
        button {
            /* width: 40%; */
            max-width: 150px;
            font-size: 12px;
            font-weight: 400;
            padding: 0px;
            aspect-ratio: unset;
        }
    }
}


/* --------------Section 3-------------- */
.section-3 {
    max-width: 100%;
    padding: 0px 50px 50px 50px;
    justify-content: center;
    gap: 20px;
    div{
        /* margin: 20px; */
        width: 100%;
        background: #F9F9F9;
        img {
            width: 100%;
            aspect-ratio: 855/405;
        }
    }
    div h1 {
        padding: 50px 50px 0px 50px;
        color: #202020;
        align-content: center;
        font-family: Lora;
        font-size: 28px;
        font-weight: 500;
        line-height: 30.72px;
        text-align: left;
    }
    div h3 {
        padding:0px 50px 0px 50px;
        color: #202020;
        align-content: center;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 400;
        line-height: 35px;
        text-align: left;
    }
    div button {
        padding: 30px 50px 50px 50px;
        background: transparent;
        border: none;
        align-content: center;
        text-align: start;
        a {
            font-size: 24px;
            align-content: center;
            text-align: start;
        }
    }
}
@media only screen and (max-width: 700px) {
    .section-3 {
        padding: 10px 30px 10px 30px;
    }
    .section-3 {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0px;
        div {
            margin: 20px;
        }
        div h1 {
            padding: 0px;
            padding-left: 10px;
            font-size: 18px;
        }
        div h3 {
            padding: 0px;
            padding-left: 10px;
            font-size: 14px;
            line-height: 25px;
        }
        div button {
            padding: 0px;
            padding-left: 10px;
            padding-bottom: 20px;
        }
        div button a {
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 600px) {
    .section-3 {
        padding: 10px 30px 10px 30px;
    }
}

/* --------------Section 4-------------- */
.section-4 {
    max-width: 100%;
    gap: 50px;
    align-items: center;
    margin-bottom: 50px;
    padding-right: 50px;
    .snipet {
        margin: 10px 10px 0px 0px;
    }
}
.price-div {
    gap: 40px;
    width: 100%;
    align-items: unset;
    img {
        /* width: 100%;
        aspect-ratio: 400/400; */
        width: 23vw;
    }
    .main-txt {
        font-size: 16px;
        font-weight: 400;
        line-height: 19.5px;
        margin-bottom: 10px;
    }
    .price-1{
        font-size: 18px;
        font-weight: 500;
        line-height: 21.94px;
        display: inline;
    }
    .price-2 {
        font-size: 16px;
        font-weight: 400;
        /* line-height: 19.5px; */
        text-align: center;
        color: #00000052;
        text-decoration:line-through;
        display: inline;

    }
}
@media only screen and (min-width: 2000px) {
    .price-div{
        img {
            width: 25vw;
        }
    }
}
@media only screen and (max-width: 900px) {
    .section-4{
        .price-div {
            img {
                width: 100%;
                aspect-ratio: 400/400;
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    .section-4 {
        padding: 10px 30px 10px 30px;
        margin: unset;
    }
    .section-4{
        flex-direction: column;
        .snipet{
            align-self: flex-start;
            max-width: unset;
        }
        .price-div {
            img {
                width: 100%;
                aspect-ratio: 400/400;
            }
        }
    }
    .price-div{
        flex-direction: column;
    }
}
@media only screen and (max-width: 500px) {
    .section-4{
        .snipet{
            h2 {
                font-size: 30px;
            }
            h4{
                font-size: 12px;
            }
        }

    }
}
@media only screen and (max-width: 450px) {
    .section-4{
        h4{
            font-size: 12px;
        }
        h2{
            font-size: 30px;
        }

    }
}





/* --------------Section 5-------------- */
.section-5 {
    max-width: 100%;
    gap: 20px;
    align-items: center;
    padding: 10px 50px 10px 50px;
    justify-content: center;
    .snipet {
        margin: 60px 10px 10px 0px;
        align-self: self-start;
    }
}

.grid-images {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    div {
        /* max-width: 400px;
        max-height: 400px; */
        img {
            width: 100%;
            aspect-ratio: 433/404;
        }
    }
}
@media only screen and (max-width: 700px) {
    .section-5 {
        padding: 10px 30px 10px 30px;
        margin: 0px;
    }
    .section-5{
        flex-direction: column;
        .snipet {
            max-width: unset;
        }
    }
    .grid-images {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        img{
            max-width: 200px;
        }
    }
}
@media only screen and (max-width: 669px) {
    .section-5{
        .snipet{
            h4{
                font-size: 16px;
            }
        }

    }
}
@media only screen and (max-width: 500px) {
    .section-5{
        .snipet{
            h2 {
                font-size: 30px;
            }
            h4{
                font-size: 12px;
            }
        }

    }
}

/* --------------Section 6-------------- */
.section-6 {
    padding: 10px 50px 10px 50px;
    max-width: 100%;
    margin-bottom: 120px;
    .map {
        /* width: 781px;
        height: 450px; */
        background-color: #222529;
        width: 100%;
        height: 100%;
        aspect-ratio: 860/540;
        img {
            padding-bottom: 30px;
        }
        h3 {
            font-size: 36px;
            font-weight: 400;
            /* line-height: 46.08px; */
            letter-spacing: 0.06499999761581421px;
            color: #FFFFFF;
        }
        h5 {
            font-size: 24px;
            font-weight: 400;
            /* line-height: 30.72px; */
            letter-spacing: 0.06499999761581421px;
        }
    };
    .google-map {
        width: 100%;
        height: 100%;
        aspect-ratio: 860/540;
    }
}
@media only screen and (max-width:700px){
    .section-6 {
        padding: 10px 30px 10px 30px;
    }
    .section-6 {
        flex-direction: column;
        margin-bottom: 30px;
        .map {
            .space{
                display: none;
            }
            width: 100%;
            height: 355px;
            h3 {
                font-size: 25px;
                padding-bottom: 10px;
            }
            h5 {
                font-size: 18px;
            }
        }
        .google-map {
            height: 355px;
        }
    }
}
/* @media only screen and (max-width:514px){
    .section-6 {
        padding: 10px 20px 10px 20px;
    }
} */

/* --------------Footer-------------- */
footer {
    justify-content: center;
    /* align-items: center; */
    max-width: 100%;
    border-top: 1px solid #B7926A;
    padding: 60px 30px 60px 30px;
    margin-top: 50px;
    gap: 15%;
    div {
        gap: 10px;
        text-align: start;
        align-content: center;
        h5 {
            font-family: Cormorant;
            font-size: 21.27px;
            font-weight: 400;
            /* line-height: 25.76px; */
        }
        h6 {
            font-size: 14px;
            font-weight: 400;
            /* line-height: 17.07px; */
        }
        input:focus{
            outline: none;
        }
    }
    #col-2, #col-3, #col-4, #col-3-dropdown, #col-4-dropdown {
        h3 {
           border-bottom: 1px solid #B7926A;
           font-size: 18px;
           color: #B7926A;
           padding-bottom: 20px;
           width: 100%;
        }
        h5 {
            font-size: 16px;
            font-weight: 400;
            /* line-height: 24px; */
            letter-spacing: 0.06499999761581421px;
        }
        
    }    
    #col-3, #col-4 {
        align-items: start;
        justify-content: start;
        a {
            font-family: Montserrat;
            text-decoration: none;
            color: #222529;
            font-size: 16px;
        }
    }
    #col-3-dropdown, #col-4-dropdown {
        a {
            text-decoration: none;
            color: #222529;
        }
    }
}
.icons {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 20px 20px 20px 0px;
    i {
        color: #B7926A;
    }
}

#col-1 input {
    border: 0px;
    border-bottom: 0.5px solid #474443;
}
#col-1 button {
    background: transparent;
    border: 0.5px solid #474443;
    padding: 5px;
}
@media only screen and (max-width:1000px) {
    footer {
        gap: 30px;
    }
    
}
@media only screen and (min-width:1500px) {
    #bottom-text{
        width: 150%;
    }
    
}
@media only screen and (min-width:1850px) {
    footer {
        padding-left: 7%;
        padding-right: 7%;
    }
    
}

@media only screen and (max-width:700px) {
    footer {
        width: unset;
        margin: 0px;
        padding: 10px 30px 10px 30px;
        border: none;
        gap: 10px;
    }
    #col-1 {
        margin-bottom: 50px;
    }
    #col-1 button {
        height: 35px;
    }
    
}
#bottom-text {
    padding-top: 200px;
    z-index: 100;
}
